flows-ouropro.json
[
    {
        "id": "423df26a24319b49",
        "type": "tab",
        "label": "Fluxo 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d8cea413e5c1741f",
        "type": "MySQLdatabase",
        "name": "ourofertil",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "ourofertil",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "5938191ba12a4c35",
        "type": "websocket-listener",
        "path": "/ws/ourofertil",
        "wholemsg": "false"
    },
    {
        "id": "64dc52d0cddeb0a8",
        "type": "websocket-client",
        "path": "ws://127.0.0.1:1880/ws/ourofertil",
        "tls": "",
        "wholemsg": "false",
        "hb": "0",
        "subprotocol": "",
        "headers": []
    },
    {
        "id": "0f84571b283f3d33",
        "type": "sqlitedb",
        "db": "C:\\Users\\rafae\\Documents\\testebd\\banco.db",
        "mode": "RWC"
    },
    {
        "id": "6a96b32a4059128b",
        "type": "OpcUa-Endpoint",
        "endpoint": "opc.tcp://192.168.0.112:4840",
        "secpol": "None",
        "secmode": "None",
        "none": true,
        "login": false,
        "usercert": false,
        "usercertificate": "",
        "userprivatekey": ""
    },
    {
        "id": "62dfa9632afbf5be",
        "type": "sqlitedb",
        "db": "C:\\Users\\IotBox\\Desktop\\Ouropro_Cloud\\banco_dados_ouropro\\dados.bd",
        "mode": "RWC"
    },
    {
        "id": "3ad2794222169f32",
        "type": "http request",
        "z": "423df26a24319b49",
        "name": "servidor remoto",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://server.ouropro.com.br/api/registros",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": true,
        "headers": [],
        "x": 740,
        "y": 380,
        "wires": [
            [
                "47b352d4c59f5117"
            ]
        ]
    },
    {
        "id": "872c9557a50a0b52",
        "type": "function",
        "z": "423df26a24319b49",
        "name": "function 26",
        "func": "var cliente = \"teste server.ouropro\"\nvar nome_transportador = \"nome_transportador\"\nvar cnpj = \"cnpj\"\nvar placa = \"placa\"\nvar telefone = \"telefone\"\nvar doc_carga = \"doc_carga\"\nvar cultura = \"Alfafa\"\nvar volume_recebido = 10000\nvar volume_venda = 22222\nvar volume_carregado = 33333\nvar volume_tanque = 44444\nvar estacao = 10\nvar controle_node_red = 1\nvar evento = 0\n\nconst data = new Date();\nconst dia = String(data.getDate()).padStart(2, '0');\nconst mes = String(data.getMonth() + 1).padStart(2, '0'); // Janeiro é 0!\nconst ano = data.getFullYear();\nconst horas = String(data.getHours()).padStart(2, '0');\nconst minutos = String(data.getMinutes()).padStart(2, '0');\nconst segundos = String(data.getSeconds()).padStart(2, '0');\n\nvar dataF = `${ano}-${mes}-${dia} ${horas}:${minutos}:${segundos}`;\n\nmsg.payload = {\ncliente,\nnome_transportador,\ncnpj,\nplaca,\ntelefone,\ndoc_carga,\nvolume_recebido,\nvolume_venda,\nvolume_carregado,\nvolume_tanque,\nestacao,\ncultura,\ndata,\nevento\n}\n\n\n\n\nreturn msg;\n\n\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 380,
        "wires": [
            [
                "3ad2794222169f32"
            ]
        ]
    },
    {
        "id": "47b352d4c59f5117",
        "type": "debug",
        "z": "423df26a24319b49",
        "name": "debug 52",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 280,
        "wires": []
    },
    {
        "id": "a1d88e0442b21317",
        "type": "inject",
        "z": "423df26a24319b49",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 210,
        "y": 280,
        "wires": [
            [
                "872c9557a50a0b52"
            ]
        ]
    },
    {
        "id": "d0fc08a45a2898c4",
        "type": "http request",
        "z": "423df26a24319b49",
        "name": "servidor remoto",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://18.189.192.194:3000/registros",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": true,
        "headers": [],
        "x": 680,
        "y": 560,
        "wires": [
            [
                "8de833d3f61d91c7"
            ]
        ]
    },
    {
        "id": "e5b9d19c7ed3ba6b",
        "type": "function",
        "z": "423df26a24319b49",
        "name": "function 27",
        "func": "var cliente = \"Fazenda Feliz\"\nvar nome_transportador = \"Transportador Feliz\"\nvar cnpj = \"9999999999\"\nvar placa = \"abc-9999\"\nvar telefone = \"99 99999999\"\nvar doc_carga = \"doc02154545\"\nvar cultura = \"Trigo\"\nvar volume_recebido = 10000\nvar volume_venda = 22222\nvar volume_carregado = 33333\nvar volume_tanque = 44444\nvar estacao = 10\nvar controle_node_red = 1\nvar evento = 0\n\nconst data = new Date();\nconst dia = String(data.getDate()).padStart(2, '0');\nconst mes = String(data.getMonth() + 1).padStart(2, '0'); // Janeiro é 0!\nconst ano = data.getFullYear();\nconst horas = String(data.getHours()).padStart(2, '0');\nconst minutos = String(data.getMinutes()).padStart(2, '0');\nconst segundos = String(data.getSeconds()).padStart(2, '0');\n\nvar dataF = `${ano}-${mes}-${dia} ${horas}:${minutos}:${segundos}`;\n\nmsg.payload = {\ncliente,\nnome_transportador,\ncnpj,\nplaca,\ntelefone,\ndoc_carga,\nvolume_recebido,\nvolume_venda,\nvolume_carregado,\nvolume_tanque,\nestacao,\ncultura,\ndata,\nevento\n}\n\n\n\n\nreturn msg;\n\n\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 560,
        "wires": [
            [
                "d0fc08a45a2898c4"
            ]
        ]
    },
    {
        "id": "8de833d3f61d91c7",
        "type": "debug",
        "z": "423df26a24319b49",
        "name": "debug 53",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 600,
        "wires": []
    },
    {
        "id": "e999f1f0429bacb2",
        "type": "inject",
        "z": "423df26a24319b49",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 190,
        "y": 480,
        "wires": [
            [
                "e5b9d19c7ed3ba6b"
            ]
        ]
    },
    {
        "id": "9bddba16cc2af323",
        "type": "random",
        "z": "423df26a24319b49",
        "name": "",
        "low": 1,
        "high": 10,
        "inte": "true",
        "property": "payload",
        "x": 580,
        "y": 60,
        "wires": [
            [
                "0820be40ebb95274"
            ]
        ]
    },
    {
        "id": "0820be40ebb95274",
        "type": "debug",
        "z": "423df26a24319b49",
        "name": "debug 54",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 100,
        "wires": []
    },
    {
        "id": "04ec27226f7152e8",
        "type": "inject",
        "z": "423df26a24319b49",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 430,
        "y": 80,
        "wires": [
            [
                "9bddba16cc2af323"
            ]
        ]
    }
]