flows-ouropro.json
[
    {
        "id": "efe7fc44b5528f93",
        "type": "tab",
        "label": "Fluxo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "dbd1cbbd8e360468",
        "type": "tab",
        "label": "Fluxo 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d85dd4e7.e244b",
        "type": "tab",
        "label": "ouropro",
        "disabled": false,
        "info": ""
    },
    {
        "id": "423df26a24319b49",
        "type": "tab",
        "label": "Fluxo 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "323074433091ba15",
        "type": "group",
        "z": "d85dd4e7.e244b",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "d7f829db76f2f3e8",
            "d7deeb43f47494d2",
            "6bd4ed5ba1e4b7f1",
            "ae86f087a919d941",
            "7aa4b3f9b43a0c75",
            "ef1999db3e655109",
            "9a499d807d373d14",
            "99818915f01c2be2",
            "568620a5150d0bdf",
            "307ed9e047c844d6",
            "e5624a3a94b02c94",
            "89cf293fdc67c11a",
            "6a635d26208c4a94",
            "a32638ddac4470ce",
            "0841cde56a4e3e1b",
            "8970eee505ebec8c"
        ],
        "x": 2522.5,
        "y": 765,
        "w": 881.5,
        "h": 473
    },
    {
        "id": "19b848e593effea4",
        "type": "group",
        "z": "d85dd4e7.e244b",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "a31dd2cacbae3bd7",
            "c0a0ee030a1bdbab",
            "2e6dbc43f7d5169a",
            "418876fa5cd061c5",
            "8b2c837b459f03fa",
            "8aabac94f9d1176c",
            "291f961cd25a14b8",
            "ac47afb3e6fd1dd3",
            "9603658f17376f91",
            "b8bf3bb8e2c3b41b",
            "d6068b3ab2657987",
            "25d32e7738f36c7b",
            "f75a447f47580e56",
            "532b07560afa37f4",
            "aab0a65801c2efdc",
            "354c01c745657a89",
            "53fd5a692a58c1ed",
            "b21f90b1994e38ec",
            "4a93a45dd8328139"
        ],
        "x": 1262,
        "y": 1764,
        "w": 938,
        "h": 430
    },
    {
        "id": "7e98584c911b953a",
        "type": "group",
        "z": "d85dd4e7.e244b",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "ed421a9.d6319e8",
            "96bd763.14a9308",
            "8ae51c8c.20bd3",
            "1335adce.7f46ba",
            "2c050a3d.91f496",
            "690e4f9f.faeca",
            "0ab21040c3614e38",
            "ecf664b97d778d15",
            "8407120374185d47",
            "a057355905a9dc90",
            "936c9d3c9fb8b75d",
            "503ebf7ff2bacf42",
            "1c42dcf81a5f0e06",
            "99f70915712ded72",
            "1f20527ee0015fe7",
            "24cd96cd12de3c99",
            "80fefa66d0f36305",
            "45105257c3656701",
            "55dbed4ff55a7084",
            "8b313d7ed360e3e6",
            "f66fbf8c5af68706",
            "98eee570bd737ee8",
            "914cbfbfcbf6ed8e",
            "f4ce522a2d547922",
            "4937e52d9fbd428d",
            "50a171e21a8f7cc7",
            "9604c10ad3f4e2d6",
            "c245fbc74d376942",
            "69910fba74e91e84",
            "db4724b157bea71c",
            "182896cc1d778e29",
            "75746a40030047cb",
            "edcc46c4d2774b9e",
            "18dfbaa3f566aeae"
        ],
        "x": -33,
        "y": 96,
        "w": 1035,
        "h": 702
    },
    {
        "id": "0786b34d676452d7",
        "type": "group",
        "z": "d85dd4e7.e244b",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "33bb63a6d4c48fcc",
            "bb14cbca3902e6b1",
            "83fcf88c9c1f0d6b"
        ],
        "x": 1018.5,
        "y": 42,
        "w": 432,
        "h": 206
    },
    {
        "id": "e071b49ab8a47f09",
        "type": "group",
        "z": "d85dd4e7.e244b",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "cacadba64e52dc3a",
            "db820dc491041e98",
            "bed1f7f3eced5780",
            "6465a9c5c4548455",
            "f2ca27bcbb921231"
        ],
        "x": 1109.5,
        "y": 263,
        "w": 537.5,
        "h": 186
    },
    {
        "id": "eb64215b2e7f9a42",
        "type": "group",
        "z": "d85dd4e7.e244b",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "76512fefb11902dd",
            "743be434dfd97ffb",
            "1f36e64443359e86"
        ],
        "x": 1658.5,
        "y": 289,
        "w": 475,
        "h": 145
    },
    {
        "id": "b8d1f723cd1c69e6",
        "type": "group",
        "z": "d85dd4e7.e244b",
        "name": "",
        "style": {
            "fill": "#bfdbef",
            "label": true
        },
        "nodes": [
            "20331f7f6aae3dc4",
            "8d4344a7ae3e38a2"
        ],
        "x": 1894.5,
        "y": 134,
        "w": 452,
        "h": 127
    },
    {
        "id": "3d5c0c7018aafb7f",
        "type": "group",
        "z": "d85dd4e7.e244b",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "2e4ecd3a75d6b2f6",
            "4c675f9e860d1ffc",
            "8743bc38047b45e4",
            "554057f0e6d93c25"
        ],
        "x": 1894.5,
        "y": 415,
        "w": 523.5,
        "h": 181
    },
    {
        "id": "4bafa54e4fbe0782",
        "type": "group",
        "z": "d85dd4e7.e244b",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "973a4b6cfc617227",
            "687e979ee8752b5e",
            "ddbab29f4c5ad1be",
            "91fe6659569d185a"
        ],
        "x": 2274,
        "y": 582,
        "w": 606,
        "h": 164
    },
    {
        "id": "753d686206d4c231",
        "type": "group",
        "z": "d85dd4e7.e244b",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "dc1e48fe1f6401ac",
            "1dfb92d8b449e8a2",
            "2844f739e5ee9a1d",
            "4f640c3e9103d750"
        ],
        "x": 1672.5,
        "y": 641,
        "w": 431.5,
        "h": 189
    },
    {
        "id": "da255acca8da66c9",
        "type": "group",
        "z": "d85dd4e7.e244b",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "3e3a0d7e171c5d42",
            "7aa1a7e43631cb84",
            "74f9db548b4307e0",
            "20aa2280dc2a7e83"
        ],
        "x": 5,
        "y": 841,
        "w": 458,
        "h": 194
    },
    {
        "id": "e88776767a70730e",
        "type": "group",
        "z": "d85dd4e7.e244b",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "e18398e3151d38d2",
            "b8692d9a3360d4a7",
            "ec6a2061500f1466",
            "d91db960ba652ce8",
            "29f7c56cd0dd5f3d",
            "dfb1b18ca78295c5",
            "da5360447c64f44e",
            "b4ab55e5c97f84b9"
        ],
        "x": 552.5,
        "y": 977,
        "w": 691.5,
        "h": 418
    },
    {
        "id": "b7604063838adb27",
        "type": "group",
        "z": "d85dd4e7.e244b",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "d2f4d355955aa0d6",
            "641ec885247f4c9b",
            "0f267b9a370c5e9f",
            "d05c6665180bf273",
            "7a39bae567b3b76a",
            "6f0f31383ec09529",
            "71df24f50297440f",
            "e50e4e3417ce833b",
            "95989496d058d755",
            "151876fd420b801d",
            "0b04f2098b9add05",
            "dceebeb2114bdcf8",
            "1f9bb12bbc3aba00",
            "989ef6a47497c19a",
            "55c752792eba79d9"
        ],
        "x": 1441.5,
        "y": 1186,
        "w": 1030.5,
        "h": 426
    },
    {
        "id": "d8cea413e5c1741f",
        "type": "MySQLdatabase",
        "name": "ourofertil",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "ourofertil",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "5938191ba12a4c35",
        "type": "websocket-listener",
        "path": "/ws/ourofertil",
        "wholemsg": "false"
    },
    {
        "id": "64dc52d0cddeb0a8",
        "type": "websocket-client",
        "path": "ws://127.0.0.1:1880/ws/ourofertil",
        "tls": "",
        "wholemsg": "false",
        "hb": "0",
        "subprotocol": "",
        "headers": []
    },
    {
        "id": "0f84571b283f3d33",
        "type": "sqlitedb",
        "db": "C:\\Users\\rafae\\Documents\\testebd\\banco.db",
        "mode": "RWC"
    },
    {
        "id": "6a96b32a4059128b",
        "type": "OpcUa-Endpoint",
        "endpoint": "opc.tcp://192.168.0.112:4840",
        "secpol": "None",
        "secmode": "None",
        "none": true,
        "login": false,
        "usercert": false,
        "usercertificate": "",
        "userprivatekey": ""
    },
    {
        "id": "62dfa9632afbf5be",
        "type": "sqlitedb",
        "db": "C:\\Users\\IotBox\\Desktop\\Ouropro_Cloud\\banco_dados_ouropro\\dados.bd",
        "mode": "RWC"
    },
    {
        "id": "d25b344124281930",
        "type": "inject",
        "z": "efe7fc44b5528f93",
        "name": "inicio",
        "props": [
            {
                "p": "clp",
                "v": "dados do clp",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 700,
        "wires": [
            [
                "a8c1521fcde1488e"
            ]
        ]
    },
    {
        "id": "1751e7d9febbfbd3",
        "type": "debug",
        "z": "efe7fc44b5528f93",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload[0]",
        "targetType": "msg",
        "statusVal": "payload[0]",
        "statusType": "auto",
        "x": 700,
        "y": 800,
        "wires": []
    },
    {
        "id": "7d74ff2c758b6a52",
        "type": "http request",
        "z": "efe7fc44b5528f93",
        "name": "envia e recebe: servidor web",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "query",
        "url": "https://script.google.com/macros/s/AKfycbxnHektJshI6WuHqoBq_lGTbuGuR3cKxlXAzP5w2yrvJMsizKgIWZPs1tuQhPUO2fadbw/exec",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 360,
        "y": 820,
        "wires": [
            [
                "1751e7d9febbfbd3"
            ]
        ]
    },
    {
        "id": "2039fa08e74bb1b3",
        "type": "function",
        "z": "efe7fc44b5528f93",
        "name": "dados do clp",
        "func": "\n//msg.url = \"https://script.google.com/macros/s/AKfycbxnHektJshI6WuHqoBq_lGTbuGuR3cKxlXAzP5w2yrvJMsizKgIWZPs1tuQhPUO2fadbw/exec?dados={dados}&tanque={tanque}\"\n//msg.method = \"GET\"\nvar dados = []\ndados.push(Math.floor(Math.random() * 10) + 1)\ndados.push(Math.floor(Math.random() * 10) + 1)\ndados.push(Math.floor(Math.random() * 10) + 1)\ndados.push(Math.floor(Math.random() * 10) + 1)\ndados.push(Math.floor(Math.random() * 10) + 1)\n\ndados = dados.join(',')\n\n\n\n\n\n\n\nmsg.payload = {\n    dados : dados,\n    tanque : 2500\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 760,
        "wires": [
            [
                "7d74ff2c758b6a52"
            ]
        ]
    },
    {
        "id": "a8c1521fcde1488e",
        "type": "function",
        "z": "efe7fc44b5528f93",
        "name": "function 1",
        "func": "\nglobal.get('util')\nlet utf8Encode = new util.TextEncoder();\nlet array_byte = utf8Encode.encode(\"String que contem 32 caracteres.\");\n\nlet decoder = new util.TextDecoder('utf-8')\n// let str = decoder.decode(array_byte)\nlet str = decoder.decode(array_byte)\nmsg.array_byte = array_byte\nmsg.decode = str\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 700,
        "wires": [
            [
                "2039fa08e74bb1b3",
                "ad2d902103161197",
                "87a819ee0f4a7b54"
            ]
        ]
    },
    {
        "id": "87a819ee0f4a7b54",
        "type": "debug",
        "z": "efe7fc44b5528f93",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "decode",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 740,
        "wires": []
    },
    {
        "id": "ad2d902103161197",
        "type": "debug",
        "z": "efe7fc44b5528f93",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "array_byte",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 680,
        "wires": []
    },
    {
        "id": "36e58c9b3efcfc9d",
        "type": "mysql",
        "z": "efe7fc44b5528f93",
        "d": true,
        "mydb": "d8cea413e5c1741f",
        "name": "banco de dados mysql: ourofertil",
        "x": 630,
        "y": 1020,
        "wires": [
            [
                "643669c456be7b6a"
            ]
        ]
    },
    {
        "id": "fa5dd133d03d570a",
        "type": "inject",
        "z": "efe7fc44b5528f93",
        "name": "insert banco de dados",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "insert into clientes (nome, telefone, cidade, cnpj) values ('Cliente 1', '54981622557', 'caxias do sul', '00000000000')",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 980,
        "wires": [
            [
                "36e58c9b3efcfc9d"
            ]
        ]
    },
    {
        "id": "6f07bc3411916b4e",
        "type": "comment",
        "z": "efe7fc44b5528f93",
        "name": "querys",
        "info": "\nCREATE TABLE `ourofertil`.`clientes` (`id` INT NOT NULL AUTO_INCREMENT , `nome` TEXT NOT NULL , `telefone` TEXT NOT NULL , `cidade` TEXT NOT NULL , `cnpj` TEXT NOT NULL , PRIMARY KEY (`id`)) ENGINE = InnoDB;\n\ninsert into clientes (nome, telefone, cidade, cnpj) values ('Cliente 1', '54981622557', 'caxias do sul', '00000000000')\n\nhttps://script.google.com/macros/s/AKfycbxAeaWwIi0tqgt3QRajEp5VIz2xFEw2GoB4RvjjB_4-wSHxWttm20Op6Z3-5ovFCtZ0/exec",
        "x": 150,
        "y": 1120,
        "wires": []
    },
    {
        "id": "f88c5e359bb1a09a",
        "type": "http request",
        "z": "efe7fc44b5528f93",
        "d": true,
        "name": "envia e recebe: servidor web",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "query",
        "url": "https://script.google.com/macros/s/AKfycbyzplL9hiC1WycGomozo1N2nYiWqXAcOh19euVRhvD-yL8iMcq50pAuStSqUqz38Fah/exec?dados={{clientes}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "Content-Type",
                "valueType": "other",
                "valueValue": "application/json"
            }
        ],
        "x": 800,
        "y": 1300,
        "wires": [
            [
                "7105936a1425d927"
            ]
        ]
    },
    {
        "id": "2a7a96d377d49f49",
        "type": "inject",
        "z": "efe7fc44b5528f93",
        "name": "select * from clientes",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "select * from clientes;",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 1040,
        "wires": [
            [
                "36e58c9b3efcfc9d"
            ]
        ]
    },
    {
        "id": "643669c456be7b6a",
        "type": "function",
        "z": "efe7fc44b5528f93",
        "name": "formata msg conforme servidor esta pronto para receber",
        "func": "// let msgg = JSON.stringify(msg.payload)\n// msg.payload = msgg\nmsg.payload = JSON.stringify({message: msg.payload})\nreturn  msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 1100,
        "wires": [
            [
                "2862ce15a37b6800"
            ]
        ]
    },
    {
        "id": "7105936a1425d927",
        "type": "debug",
        "z": "efe7fc44b5528f93",
        "name": "debug 5",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 1340,
        "wires": []
    },
    {
        "id": "2862ce15a37b6800",
        "type": "json",
        "z": "efe7fc44b5528f93",
        "name": "converte a msg para json",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 590,
        "y": 1180,
        "wires": [
            [
                "35694a7e12365105",
                "74be68cc3422160d"
            ]
        ]
    },
    {
        "id": "7ef1548b47638a90",
        "type": "websocket in",
        "z": "efe7fc44b5528f93",
        "d": true,
        "name": "servidor websockets ",
        "server": "5938191ba12a4c35",
        "client": "",
        "x": 110,
        "y": 1200,
        "wires": [
            [
                "9e29480f5511e5d0"
            ]
        ]
    },
    {
        "id": "a7e016b7a2865417",
        "type": "function",
        "z": "efe7fc44b5528f93",
        "name": "caso a msg n seja cliente processa a msg",
        "func": "var message = JSON.parse(msg.payload).message\nmsg.payload = JSON.stringify({ message: \"Recebi sua mensagem: \" + message })\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 1400,
        "wires": [
            [
                "f8d6f4208beb9e2e",
                "87de7c5eaccc81bf"
            ]
        ]
    },
    {
        "id": "f8d6f4208beb9e2e",
        "type": "websocket out",
        "z": "efe7fc44b5528f93",
        "d": true,
        "name": "",
        "server": "5938191ba12a4c35",
        "client": "",
        "x": 630,
        "y": 1400,
        "wires": []
    },
    {
        "id": "0b2ac717957216ee",
        "type": "switch",
        "z": "efe7fc44b5528f93",
        "name": "direciona o fluxo conforme a msg recebida",
        "property": "message",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "clientes",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "clientes",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 290,
        "y": 1340,
        "wires": [
            [
                "7f896f184a677a49"
            ],
            [
                "a7e016b7a2865417"
            ]
        ]
    },
    {
        "id": "7f896f184a677a49",
        "type": "function",
        "z": "efe7fc44b5528f93",
        "name": "faz um select no bd",
        "func": "msg.topic = 'select * from clientes'\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 1120,
        "wires": [
            [
                "36e58c9b3efcfc9d"
            ]
        ]
    },
    {
        "id": "35694a7e12365105",
        "type": "websocket out",
        "z": "efe7fc44b5528f93",
        "d": true,
        "name": "Envia a msg por websocket",
        "server": "5938191ba12a4c35",
        "client": "",
        "x": 800,
        "y": 1240,
        "wires": []
    },
    {
        "id": "9e29480f5511e5d0",
        "type": "function",
        "z": "efe7fc44b5528f93",
        "name": "processa a msg recebida fazendo um parse",
        "func": "\nmsg.message = JSON.parse(msg.payload).message\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 1280,
        "wires": [
            [
                "0b2ac717957216ee"
            ]
        ]
    },
    {
        "id": "87de7c5eaccc81bf",
        "type": "debug",
        "z": "efe7fc44b5528f93",
        "name": "debug 6",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 1540,
        "wires": []
    },
    {
        "id": "74be68cc3422160d",
        "type": "debug",
        "z": "efe7fc44b5528f93",
        "name": "debug 7",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 1200,
        "wires": []
    },
    {
        "id": "873c17cdbc05f1e0",
        "type": "inject",
        "z": "efe7fc44b5528f93",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"usuario\":\"teste\",\"senha\":\"teste\",\"cidade\":\"caxias do sul\"}",
        "payloadType": "json",
        "x": 90,
        "y": 200,
        "wires": [
            [
                "f4a8322328e9104d"
            ]
        ]
    },
    {
        "id": "91b205d82cfd5dbf",
        "type": "http request",
        "z": "efe7fc44b5528f93",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "body",
        "url": "http://127.0.0.1:3000/login",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "Content-Type",
                "valueType": "other",
                "valueValue": "application/json"
            }
        ],
        "x": 320,
        "y": 340,
        "wires": [
            [
                "7a373637c901db23"
            ]
        ]
    },
    {
        "id": "7a373637c901db23",
        "type": "debug",
        "z": "efe7fc44b5528f93",
        "name": "debug 8",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 360,
        "wires": []
    },
    {
        "id": "f4a8322328e9104d",
        "type": "function",
        "z": "efe7fc44b5528f93",
        "name": "function 2",
        "func": "msg.headers = {};\nmsg.headers['Content-Type'] = 'multipart/form-data';\nmsg.headers['Accept'] = 'application/json';\n\nmsg.payload = {\n    \"usuario\": \"teste\",\n    \"senha\": \"teste\",\n    \"cidade\": \"caxias do sul\"\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 180,
        "wires": [
            [
                "91b205d82cfd5dbf"
            ]
        ]
    },
    {
        "id": "b082856f431bb2d7",
        "type": "inject",
        "z": "efe7fc44b5528f93",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"usuario\":\"teste\",\"senha\":\"teste\",\"cidade\":\"caxias do sul\"}",
        "payloadType": "json",
        "x": 110,
        "y": 340,
        "wires": [
            [
                "91b205d82cfd5dbf"
            ]
        ]
    },
    {
        "id": "8b5ecf9c1757e551",
        "type": "inject",
        "z": "efe7fc44b5528f93",
        "name": "Registro",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"cliente\":\"Cliente 1\",\"doc_carga\":\"99999\",\"nome_transportador\":\"Transportador 1\",\"placa\":\"aaa 9999\",\"volume\":\"10000\",\"data\":\"2024-09-27 22:32:00.0 +00:00\",\"estacao\":\"vacaria\",\"volume_estacao\":\"185000\"}",
        "payloadType": "json",
        "x": 120,
        "y": 460,
        "wires": [
            [
                "53433d86b855f814"
            ]
        ]
    },
    {
        "id": "53433d86b855f814",
        "type": "http request",
        "z": "efe7fc44b5528f93",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://127.0.0.1:3000/l",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": true,
        "headers": [],
        "x": 400,
        "y": 460,
        "wires": [
            [
                "040fd029a5353c68"
            ]
        ]
    },
    {
        "id": "127805dea248a29d",
        "type": "catch",
        "z": "efe7fc44b5528f93",
        "name": "",
        "scope": [
            "53433d86b855f814"
        ],
        "uncaught": false,
        "x": 180,
        "y": 520,
        "wires": [
            [
                "20221ec731545637"
            ]
        ]
    },
    {
        "id": "20221ec731545637",
        "type": "debug",
        "z": "efe7fc44b5528f93",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 390,
        "y": 520,
        "wires": []
    },
    {
        "id": "040fd029a5353c68",
        "type": "debug",
        "z": "efe7fc44b5528f93",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 460,
        "wires": []
    },
    {
        "id": "4d469980b02d843e",
        "type": "inject",
        "z": "dbd1cbbd8e360468",
        "name": "Registro",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"cliente\":\"Cliente 2\",\"doc_carga\":\"99999\",\"cnpj\":\"1234567891011\",\"nome_transportador\":\"Transportador 1\",\"placa\":\"aaa 9999\",\"volume\":\"10000\",\"data\":\"2024-09-27 22:32:00.0 +00:00\",\"estacao\":\"vacaria\",\"volume_estacao\":\"185000\"}",
        "payloadType": "json",
        "x": 160,
        "y": 140,
        "wires": [
            [
                "738380f76383f06c"
            ]
        ]
    },
    {
        "id": "6225e0fe56d8415f",
        "type": "http request",
        "z": "dbd1cbbd8e360468",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://18.189.192.194:3000/registros",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": true,
        "headers": [],
        "x": 440,
        "y": 140,
        "wires": [
            [
                "646ac2eed497dc56",
                "1cc2f0f9600e53ba"
            ]
        ]
    },
    {
        "id": "b871b32a46c7ed8f",
        "type": "catch",
        "z": "dbd1cbbd8e360468",
        "name": "captura caso tenha erro",
        "scope": [
            "6225e0fe56d8415f"
        ],
        "uncaught": false,
        "x": 200,
        "y": 200,
        "wires": [
            [
                "978707f3b4ced7d0"
            ]
        ]
    },
    {
        "id": "978707f3b4ced7d0",
        "type": "debug",
        "z": "dbd1cbbd8e360468",
        "name": "debug 11",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 240,
        "wires": []
    },
    {
        "id": "646ac2eed497dc56",
        "type": "debug",
        "z": "dbd1cbbd8e360468",
        "name": "debug 12",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 140,
        "wires": []
    },
    {
        "id": "738380f76383f06c",
        "type": "function",
        "z": "dbd1cbbd8e360468",
        "name": "cria a data atual para o campo data",
        "func": "msg.payload.data = new Date();\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 80,
        "wires": [
            [
                "6225e0fe56d8415f"
            ]
        ]
    },
    {
        "id": "1cc2f0f9600e53ba",
        "type": "switch",
        "z": "dbd1cbbd8e360468",
        "name": "",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "200",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "200",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 630,
        "y": 200,
        "wires": [
            [
                "33e4ff459fedbecb"
            ],
            [
                "5b48fc0c8fed84e8"
            ]
        ]
    },
    {
        "id": "33e4ff459fedbecb",
        "type": "function",
        "z": "dbd1cbbd8e360468",
        "name": "caso statusCode == 200 (sucesso)",
        "func": "msg.payload = 'pode apagar registro do banco local'\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 180,
        "wires": [
            [
                "8f42ce4c1076a3e5"
            ]
        ]
    },
    {
        "id": "5b48fc0c8fed84e8",
        "type": "function",
        "z": "dbd1cbbd8e360468",
        "name": "caso statusCode != 200 (erro)",
        "func": "msg.payload = \"erro ao salvar remotamente, não apagar registro no banco local\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 240,
        "wires": [
            [
                "8f42ce4c1076a3e5"
            ]
        ]
    },
    {
        "id": "8f42ce4c1076a3e5",
        "type": "debug",
        "z": "dbd1cbbd8e360468",
        "name": "debug statusCode",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1150,
        "y": 220,
        "wires": []
    },
    {
        "id": "2a6a84b693a07089",
        "type": "sqlite",
        "z": "dbd1cbbd8e360468",
        "mydb": "0f84571b283f3d33",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "testebd",
        "x": 570,
        "y": 700,
        "wires": [
            [
                "4e30bab38e463e04"
            ]
        ]
    },
    {
        "id": "a46a8207b7d3f73b",
        "type": "inject",
        "z": "dbd1cbbd8e360468",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "CREATE TABLE contacts ( \tcontact_id INTEGER PRIMARY KEY, \tfirst_name TEXT NOT NULL, \tlast_name TEXT NOT NULL, \temail TEXT NOT NULL UNIQUE, \tphone TEXT NOT NULL UNIQUE );",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 700,
        "wires": [
            [
                "2a6a84b693a07089"
            ]
        ]
    },
    {
        "id": "4e30bab38e463e04",
        "type": "debug",
        "z": "dbd1cbbd8e360468",
        "name": "debug 13",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 700,
        "wires": []
    },
    {
        "id": "3f514e3e63b2b8ac",
        "type": "inject",
        "z": "dbd1cbbd8e360468",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 760,
        "wires": [
            [
                "56c98b31f1aa0de9"
            ]
        ]
    },
    {
        "id": "56c98b31f1aa0de9",
        "type": "function",
        "z": "dbd1cbbd8e360468",
        "name": "function 3",
        "func": "msg.topic = \"INSERT into contacts (first_name, last_name,email,phone) VALUES ('rafael', 'dias', 'rafael@gmail.com', '54981622557')\"\n\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 760,
        "wires": [
            [
                "2a6a84b693a07089"
            ]
        ]
    },
    {
        "id": "138293b135c4c47b",
        "type": "function",
        "z": "dbd1cbbd8e360468",
        "name": "function 4",
        "func": "msg.topic = \"SELECT * from contacts\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 840,
        "wires": [
            [
                "2a6a84b693a07089"
            ]
        ]
    },
    {
        "id": "492e39e4f1f19353",
        "type": "inject",
        "z": "dbd1cbbd8e360468",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 920,
        "wires": [
            [
                "138293b135c4c47b"
            ]
        ]
    },
    {
        "id": "c4a8f068c81fc0e9",
        "type": "inject",
        "z": "dbd1cbbd8e360468",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 240,
        "y": 420,
        "wires": [
            [
                "98aa8d8af5f41910"
            ]
        ]
    },
    {
        "id": "98aa8d8af5f41910",
        "type": "debug",
        "z": "dbd1cbbd8e360468",
        "name": "debug 14",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 420,
        "wires": []
    },
    {
        "id": "834f20b9ae017b03",
        "type": "http request",
        "z": "dbd1cbbd8e360468",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://script.google.com/macros/s/AKfycbyXkRwHzUyM4AGvCXu8WJM0dAtVLMNvioeTf_8OJZ_hBB9LFj1PbMFfu_fBf7VKs9JS/exec",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "Content-Type",
                "valueType": "other",
                "valueValue": "application/json"
            }
        ],
        "x": 440,
        "y": 520,
        "wires": [
            [
                "36af300118bd5cfd"
            ]
        ]
    },
    {
        "id": "fdb632cfcc4359f6",
        "type": "inject",
        "z": "dbd1cbbd8e360468",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"nome\":\"rafael\",\"dados\":1000}",
        "payloadType": "json",
        "x": 150,
        "y": 520,
        "wires": [
            [
                "834f20b9ae017b03"
            ]
        ]
    },
    {
        "id": "36af300118bd5cfd",
        "type": "debug",
        "z": "dbd1cbbd8e360468",
        "name": "debug 15",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 520,
        "wires": []
    },
    {
        "id": "ed421a9.d6319e8",
        "type": "OpcUa-Client",
        "z": "d85dd4e7.e244b",
        "g": "7e98584c911b953a",
        "endpoint": "6a96b32a4059128b",
        "action": "readmultiple",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "useTransport": false,
        "maxChunkCount": "",
        "maxMessageSize": "",
        "receiveBufferSize": "",
        "sendBufferSize": "",
        "name": "",
        "x": 825,
        "y": 389.79998779296875,
        "wires": [
            [
                "bb14cbca3902e6b1"
            ],
            []
        ]
    },
    {
        "id": "96bd763.14a9308",
        "type": "OpcUa-Item",
        "z": "d85dd4e7.e244b",
        "g": "7e98584c911b953a",
        "item": "ns=2;s=Application.GVL.wihmNomeCliente",
        "datatype": "String",
        "value": "",
        "name": "wihmNomeCliente",
        "x": 241,
        "y": 192.25,
        "wires": [
            [
                "24cd96cd12de3c99"
            ]
        ]
    },
    {
        "id": "8ae51c8c.20bd3",
        "type": "OpcUa-Item",
        "z": "d85dd4e7.e244b",
        "g": "7e98584c911b953a",
        "item": "ns=2;s=Application.GVL.wihmCpfCnpj",
        "datatype": "String",
        "value": "",
        "name": "wihmCpfCnpj",
        "x": 221,
        "y": 284.875,
        "wires": [
            [
                "80fefa66d0f36305"
            ]
        ]
    },
    {
        "id": "1335adce.7f46ba",
        "type": "inject",
        "z": "d85dd4e7.e244b",
        "g": "7e98584c911b953a",
        "name": "Add all",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 73,
        "y": 247,
        "wires": [
            [
                "8ae51c8c.20bd3",
                "0ab21040c3614e38",
                "ecf664b97d778d15",
                "8407120374185d47",
                "a057355905a9dc90",
                "936c9d3c9fb8b75d",
                "503ebf7ff2bacf42",
                "1c42dcf81a5f0e06",
                "1f20527ee0015fe7",
                "99f70915712ded72",
                "96bd763.14a9308",
                "9604c10ad3f4e2d6",
                "75746a40030047cb"
            ]
        ]
    },
    {
        "id": "2c050a3d.91f496",
        "type": "inject",
        "z": "d85dd4e7.e244b",
        "g": "7e98584c911b953a",
        "name": "Read multiple items",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "readmultiple",
        "payload": "",
        "payloadType": "str",
        "x": 742,
        "y": 230,
        "wires": [
            [
                "ed421a9.d6319e8"
            ]
        ]
    },
    {
        "id": "690e4f9f.faeca",
        "type": "inject",
        "z": "d85dd4e7.e244b",
        "g": "7e98584c911b953a",
        "name": "Clear nodeId array",
        "props": [
            {
                "p": "payload",
                "v": "",
                "vt": "str"
            },
            {
                "p": "topic",
                "v": "clearitems",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "clearitems",
        "payload": "",
        "payloadType": "str",
        "x": 740.2000122070312,
        "y": 285.20001220703125,
        "wires": [
            [
                "ed421a9.d6319e8"
            ]
        ]
    },
    {
        "id": "bb14cbca3902e6b1",
        "type": "join",
        "z": "d85dd4e7.e244b",
        "g": "0786b34d676452d7",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic.browseName",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": false,
        "accumulate": false,
        "timeout": "",
        "count": "13",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1135,
        "y": 207,
        "wires": [
            [
                "33bb63a6d4c48fcc",
                "db820dc491041e98"
            ]
        ]
    },
    {
        "id": "33bb63a6d4c48fcc",
        "type": "debug",
        "z": "d85dd4e7.e244b",
        "g": "0786b34d676452d7",
        "name": "debug 23",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1294,
        "y": 146,
        "wires": []
    },
    {
        "id": "0ab21040c3614e38",
        "type": "OpcUa-Item",
        "z": "d85dd4e7.e244b",
        "g": "7e98584c911b953a",
        "item": "ns=2;s=Application.GVL.wihmControleNodeRed",
        "datatype": "Int16",
        "value": "",
        "name": "wihmControleNodeRed",
        "x": 261,
        "y": 701.6875,
        "wires": [
            [
                "45105257c3656701"
            ]
        ]
    },
    {
        "id": "ecf664b97d778d15",
        "type": "OpcUa-Item",
        "z": "d85dd4e7.e244b",
        "g": "7e98584c911b953a",
        "item": "ns=2;s=Application.GVL.wihmDocumentoCarga",
        "datatype": "String",
        "value": "",
        "name": "wihmDocumentoCarga",
        "x": 251,
        "y": 423.8125,
        "wires": [
            [
                "55dbed4ff55a7084"
            ]
        ]
    },
    {
        "id": "8407120374185d47",
        "type": "OpcUa-Item",
        "z": "d85dd4e7.e244b",
        "g": "7e98584c911b953a",
        "item": "ns=2;s=Application.GVL.wihmFoneContato",
        "datatype": "String",
        "value": "",
        "name": "wihmFoneContato",
        "x": 241,
        "y": 377.5,
        "wires": [
            [
                "8b313d7ed360e3e6"
            ]
        ]
    },
    {
        "id": "a057355905a9dc90",
        "type": "OpcUa-Item",
        "z": "d85dd4e7.e244b",
        "g": "7e98584c911b953a",
        "item": "ns=2;s=Application.GVL.wihmNomeTransportador",
        "datatype": "String",
        "value": "",
        "name": "wihmNomeTransportador",
        "x": 261,
        "y": 238.5625,
        "wires": [
            [
                "f66fbf8c5af68706"
            ]
        ]
    },
    {
        "id": "936c9d3c9fb8b75d",
        "type": "OpcUa-Item",
        "z": "d85dd4e7.e244b",
        "g": "7e98584c911b953a",
        "item": "ns=2;s=Application.GVL.wihmPlacaVeiculo",
        "datatype": "String",
        "value": "",
        "name": "wihmPlacaVeiculo",
        "x": 241,
        "y": 331.1875,
        "wires": [
            [
                "98eee570bd737ee8"
            ]
        ]
    },
    {
        "id": "503ebf7ff2bacf42",
        "type": "OpcUa-Item",
        "z": "d85dd4e7.e244b",
        "g": "7e98584c911b953a",
        "item": "ns=2;s=Application.GVL.wihmQtdeLitrosnoTanque",
        "datatype": "Int32",
        "value": "",
        "name": "wihmQtdeLitrosnoTanque",
        "x": 261,
        "y": 609.0625,
        "wires": [
            [
                "914cbfbfcbf6ed8e"
            ]
        ]
    },
    {
        "id": "1c42dcf81a5f0e06",
        "type": "OpcUa-Item",
        "z": "d85dd4e7.e244b",
        "g": "7e98584c911b953a",
        "item": "ns=2;s=Application.GVL.wihmVolumeCarregado",
        "datatype": "UInt32",
        "value": "",
        "name": "wihmVolumeCarregado",
        "x": 261,
        "y": 562.75,
        "wires": [
            [
                "f4ce522a2d547922"
            ]
        ]
    },
    {
        "id": "99f70915712ded72",
        "type": "OpcUa-Item",
        "z": "d85dd4e7.e244b",
        "g": "7e98584c911b953a",
        "item": "ns=2;s=Application.GVL.wihmVolumeDescarga",
        "datatype": "Int16",
        "value": "",
        "name": "wihmVolumeDescarga",
        "x": 251,
        "y": 470.125,
        "wires": [
            [
                "50a171e21a8f7cc7"
            ]
        ]
    },
    {
        "id": "1f20527ee0015fe7",
        "type": "OpcUa-Item",
        "z": "d85dd4e7.e244b",
        "g": "7e98584c911b953a",
        "item": "ns=2;s=Application.GVL.wihmVolumeVenda",
        "datatype": "UInt32",
        "value": "",
        "name": "wihmVolumeVenda",
        "x": 241,
        "y": 516.4375,
        "wires": [
            [
                "4937e52d9fbd428d"
            ]
        ]
    },
    {
        "id": "24cd96cd12de3c99",
        "type": "function",
        "z": "d85dd4e7.e244b",
        "g": "7e98584c911b953a",
        "name": "key",
        "func": "msg.key = \"cliente\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 408.5,
        "y": 179,
        "wires": [
            [
                "ed421a9.d6319e8"
            ]
        ]
    },
    {
        "id": "80fefa66d0f36305",
        "type": "function",
        "z": "d85dd4e7.e244b",
        "g": "7e98584c911b953a",
        "name": "key",
        "func": "msg.key = \"cnpj\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 386.09088134765625,
        "y": 275.3333333333333,
        "wires": [
            [
                "ed421a9.d6319e8"
            ]
        ]
    },
    {
        "id": "45105257c3656701",
        "type": "function",
        "z": "d85dd4e7.e244b",
        "g": "7e98584c911b953a",
        "name": "key",
        "func": "msg.key = \"controle_node_red\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 513.1818181818182,
        "y": 708.8333333333333,
        "wires": [
            [
                "ed421a9.d6319e8"
            ]
        ]
    },
    {
        "id": "55dbed4ff55a7084",
        "type": "function",
        "z": "d85dd4e7.e244b",
        "g": "7e98584c911b953a",
        "name": "key",
        "func": "msg.key = \"doc_carga\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 575,
        "y": 419.83333333333337,
        "wires": [
            [
                "ed421a9.d6319e8"
            ]
        ]
    },
    {
        "id": "8b313d7ed360e3e6",
        "type": "function",
        "z": "d85dd4e7.e244b",
        "g": "7e98584c911b953a",
        "name": "key",
        "func": "msg.key = \"telefone\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 498.772705078125,
        "y": 371.6666666666667,
        "wires": [
            [
                "ed421a9.d6319e8"
            ]
        ]
    },
    {
        "id": "f66fbf8c5af68706",
        "type": "function",
        "z": "d85dd4e7.e244b",
        "g": "7e98584c911b953a",
        "name": "key",
        "func": "msg.key = \"nome_transportador\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 443.31817626953125,
        "y": 227.16666666666666,
        "wires": [
            [
                "ed421a9.d6319e8"
            ]
        ]
    },
    {
        "id": "98eee570bd737ee8",
        "type": "function",
        "z": "d85dd4e7.e244b",
        "g": "7e98584c911b953a",
        "name": "key",
        "func": "msg.key = \"placa\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 433.54547119140625,
        "y": 323.5,
        "wires": [
            [
                "ed421a9.d6319e8"
            ]
        ]
    },
    {
        "id": "914cbfbfcbf6ed8e",
        "type": "function",
        "z": "d85dd4e7.e244b",
        "g": "7e98584c911b953a",
        "name": "key",
        "func": "msg.key = \"volume_tanque\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 537.6363636363637,
        "y": 612.5,
        "wires": [
            [
                "ed421a9.d6319e8"
            ]
        ]
    },
    {
        "id": "f4ce522a2d547922",
        "type": "function",
        "z": "d85dd4e7.e244b",
        "g": "7e98584c911b953a",
        "name": "key",
        "func": "msg.key = \"volume_carregado\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 488.72727272727275,
        "y": 564.3333333333334,
        "wires": [
            [
                "ed421a9.d6319e8"
            ]
        ]
    },
    {
        "id": "4937e52d9fbd428d",
        "type": "function",
        "z": "d85dd4e7.e244b",
        "g": "7e98584c911b953a",
        "name": "key",
        "func": "msg.key = \"volume_venda\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500.9545454545455,
        "y": 516.1666666666667,
        "wires": [
            [
                "ed421a9.d6319e8"
            ]
        ]
    },
    {
        "id": "50a171e21a8f7cc7",
        "type": "function",
        "z": "d85dd4e7.e244b",
        "g": "7e98584c911b953a",
        "name": "key",
        "func": "msg.key = \"volume_recebido\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 549.8636363636365,
        "y": 468.00000000000006,
        "wires": [
            [
                "ed421a9.d6319e8"
            ]
        ]
    },
    {
        "id": "9604c10ad3f4e2d6",
        "type": "OpcUa-Item",
        "z": "d85dd4e7.e244b",
        "g": "7e98584c911b953a",
        "item": "ns=2;s=Application.GVL.wNumeroEstacao",
        "datatype": "Int32",
        "value": "",
        "name": "wNumeroEstacao",
        "x": 241,
        "y": 655.375,
        "wires": [
            [
                "c245fbc74d376942"
            ]
        ]
    },
    {
        "id": "c245fbc74d376942",
        "type": "function",
        "z": "d85dd4e7.e244b",
        "g": "7e98584c911b953a",
        "name": "key",
        "func": "msg.key = \"estacao\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 525.409090909091,
        "y": 660.6666666666666,
        "wires": [
            [
                "ed421a9.d6319e8"
            ]
        ]
    },
    {
        "id": "d024b796e0023c73",
        "type": "debug",
        "z": "d85dd4e7.e244b",
        "name": "debug 26",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 858,
        "y": 70,
        "wires": []
    },
    {
        "id": "db820dc491041e98",
        "type": "function",
        "z": "d85dd4e7.e244b",
        "g": "e071b49ab8a47f09",
        "name": "function 14",
        "func": "var cliente =  msg.payload.wihmNomeCliente || msg.payload.wihmNomeTransportador\nvar nome_transportador = msg.payload.wihmNomeTransportador\nvar cnpj = msg.payload.wihmCpfCnpj\nvar placa = msg.payload.wihmPlacaVeiculo\nvar telefone = msg.payload.wihmFoneContato\nvar doc_carga = msg.payload.wihmDocumentoCarga\nvar volume_recebido = msg.payload.wihmVolumeDescarga\nvar volume_venda = msg.payload.wihmVolumeVenda\nvar volume_carregado = msg.payload.wihmVolumeCarregado\nvar volume_tanque = msg.payload.wihmQtdeLitrosnoTanque\nvar estacao = msg.payload.wNumeroEstacao\nvar controle_node_red = msg.payload.wihmControleNodeRed\nvar evento = msg.payload.wihmEvento \n\nconst data = new Date();\nconst dia = String(data.getDate()).padStart(2, '0');\nconst mes = String(data.getMonth() + 1).padStart(2, '0'); // Janeiro é 0!\nconst ano = data.getFullYear();\nconst horas = String(data.getHours()).padStart(2, '0');\nconst minutos = String(data.getMinutes()).padStart(2, '0');\nconst segundos = String(data.getSeconds()).padStart(2, '0');\n\nvar dataF = `${ano}-${mes}-${dia} ${horas}:${minutos}:${segundos}`;\n\nmsg.payload = {\ncliente,\nnome_transportador,\ncnpj,\nplaca,\ntelefone,\ndoc_carga,\nvolume_recebido,\nvolume_venda,\nvolume_carregado,\nvolume_tanque,\nestacao,\ndata,\nevento\n}\n\nmsg.registro = { cliente, nome_transportador, cnpj, placa, telefone, doc_carga, volume_recebido, volume_venda, volume_carregado, volume_tanque, estacao, dataF, evento }\nmsg.cliente = { cliente, cnpj, telefone, nome_transportador, placa }\n\n\n\n\nreturn msg;\n\n\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1227,
        "y": 373,
        "wires": [
            [
                "cacadba64e52dc3a",
                "6465a9c5c4548455"
            ]
        ]
    },
    {
        "id": "cacadba64e52dc3a",
        "type": "http request",
        "z": "d85dd4e7.e244b",
        "g": "e071b49ab8a47f09",
        "name": "servidor remoto",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://127.0.0.1:3000/registros",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": true,
        "headers": [],
        "x": 1481,
        "y": 344,
        "wires": [
            [
                "957d959926e96427",
                "f2ca27bcbb921231"
            ]
        ]
    },
    {
        "id": "957d959926e96427",
        "type": "switch",
        "z": "d85dd4e7.e244b",
        "name": "",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "200",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "200",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1738.5,
        "y": 196,
        "wires": [
            [
                "20331f7f6aae3dc4",
                "fce417ff265e71a8"
            ],
            [
                "76512fefb11902dd",
                "fce417ff265e71a8"
            ]
        ]
    },
    {
        "id": "20331f7f6aae3dc4",
        "type": "function",
        "z": "d85dd4e7.e244b",
        "g": "b8d1f723cd1c69e6",
        "name": "function 15",
        "func": "msg.remoto = 1\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2043.5,
        "y": 220,
        "wires": [
            [
                "2e4ecd3a75d6b2f6"
            ]
        ]
    },
    {
        "id": "76512fefb11902dd",
        "type": "function",
        "z": "d85dd4e7.e244b",
        "g": "eb64215b2e7f9a42",
        "name": "function 16",
        "func": "msg.remoto = 0\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1930,
        "y": 393,
        "wires": [
            [
                "2e4ecd3a75d6b2f6"
            ]
        ]
    },
    {
        "id": "6465a9c5c4548455",
        "type": "debug",
        "z": "d85dd4e7.e244b",
        "g": "e071b49ab8a47f09",
        "name": "debug 28",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1362,
        "y": 407,
        "wires": []
    },
    {
        "id": "f2ca27bcbb921231",
        "type": "debug",
        "z": "d85dd4e7.e244b",
        "g": "e071b49ab8a47f09",
        "name": "debug 29",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1541,
        "y": 408,
        "wires": []
    },
    {
        "id": "fce417ff265e71a8",
        "type": "debug",
        "z": "d85dd4e7.e244b",
        "name": "debug 30",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1963,
        "y": 103,
        "wires": []
    },
    {
        "id": "743be434dfd97ffb",
        "type": "catch",
        "z": "d85dd4e7.e244b",
        "g": "eb64215b2e7f9a42",
        "name": "",
        "scope": [
            "cacadba64e52dc3a"
        ],
        "uncaught": false,
        "x": 1744.5,
        "y": 391,
        "wires": [
            [
                "76512fefb11902dd"
            ]
        ]
    },
    {
        "id": "2e4ecd3a75d6b2f6",
        "type": "function",
        "z": "d85dd4e7.e244b",
        "g": "3d5c0c7018aafb7f",
        "name": "Insert tabela registro",
        "func": "var r = msg.registro\nvar remoto = msg.remoto || 0\n// var insert = \"INSERT INTO registros (cliente, doc_carga, cnpj, nome_transportador,placa, telefone, volume_recebido, volume_venda, volume_carregado, volume_tanque,data_hora, estacao, remoto, evento) VALUES ('\"+r.cliente+\"','\"+r.doc_carga+\"', '\"+r.cnpj+\"','\"+r.nome_transportador+\"', '\"+r.placa+\"', '\"+r.telefone+\"', \"+r.volume_recebido+\", \"+r.volume_venda+\", \"+r.volume_carregado+\", \"+r.volume_tanque+\", '\"+r.dataF+\"', \"+r.estacao+\",\"+remoto+\",\"+ r.evento +\")\"\nvar insert = `INSERT INTO registros \n            (cliente, doc_carga, cnpj,\n             nome_transportador,placa,\n             telefone, volume_recebido,\n             volume_venda,\n             volume_carregado,\n             volume_tanque,data,\n             estacao, remoto, evento)\n             VALUES ('${r.cliente}','${r.doc_carga}',\n             '${r.cnpj}','${r.nome_transportador}',\n             '${r.placa}',\n             '${r.telefone}',\n             ${r.volume_recebido},\n             ${r.volume_venda},\n             ${r.volume_carregado},\n             ${r.volume_tanque},\n             '${r.dataF}', ${r.estacao},${remoto},${r.evento})`\nmsg.topic = insert\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2292,
        "y": 482,
        "wires": [
            [
                "4c675f9e860d1ffc"
            ]
        ]
    },
    {
        "id": "4c675f9e860d1ffc",
        "type": "sqlite",
        "z": "d85dd4e7.e244b",
        "g": "3d5c0c7018aafb7f",
        "mydb": "62dfa9632afbf5be",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "banco de dados",
        "x": 2010.5,
        "y": 555,
        "wires": [
            [
                "8743bc38047b45e4",
                "dc1e48fe1f6401ac",
                "91fe6659569d185a"
            ]
        ]
    },
    {
        "id": "dc1e48fe1f6401ac",
        "type": "function",
        "z": "d85dd4e7.e244b",
        "g": "753d686206d4c231",
        "name": "function 17",
        "func": "var cliente =  msg.cliente.cliente\nvar cnpj =   msg.cliente.cnpj\nvar telefone =  msg.cliente.telefone\nvar nome_transportador = msg.cliente.nome_transportador\nvar placa = msg.cliente.placa\n\nmsg.topic = `INSERT OR REPLACE INTO clientes\n ( cliente, cnpj, telefone, nome_transportador, placa) VALUES\n ('${cliente}', '${cnpj}', '${telefone}', '${nome_transportador}', '${placa}');`\n \n\nreturn msg;\n\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1806,
        "y": 738,
        "wires": [
            [
                "1dfb92d8b449e8a2"
            ]
        ]
    },
    {
        "id": "1dfb92d8b449e8a2",
        "type": "sqlite",
        "z": "d85dd4e7.e244b",
        "g": "753d686206d4c231",
        "mydb": "62dfa9632afbf5be",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "banco de dados",
        "x": 1845.5,
        "y": 789,
        "wires": [
            [
                "2844f739e5ee9a1d"
            ]
        ]
    },
    {
        "id": "8743bc38047b45e4",
        "type": "debug",
        "z": "d85dd4e7.e244b",
        "g": "3d5c0c7018aafb7f",
        "name": "debug 31",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2234,
        "y": 552,
        "wires": []
    },
    {
        "id": "2844f739e5ee9a1d",
        "type": "debug",
        "z": "d85dd4e7.e244b",
        "g": "753d686206d4c231",
        "name": "debug 32",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1998,
        "y": 788,
        "wires": []
    },
    {
        "id": "a31dd2cacbae3bd7",
        "type": "sqlite",
        "z": "d85dd4e7.e244b",
        "g": "19b848e593effea4",
        "mydb": "62dfa9632afbf5be",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "banco de dados",
        "x": 1900,
        "y": 1953,
        "wires": [
            [
                "532b07560afa37f4"
            ]
        ]
    },
    {
        "id": "c0a0ee030a1bdbab",
        "type": "function",
        "z": "d85dd4e7.e244b",
        "g": "19b848e593effea4",
        "name": "q: cria tabela registros",
        "func": "msg.topic =  `CREATE TABLE registros (\n    id INTEGER PRIMARY KEY,\n    cliente TEXT,\n    doc_carga TEXT,\n    cnpj TEXT,\n    nome_transportador TEXT,\n    placa TEXT,\n    telefone TEXT ,\n    volume_recebido INTEGER,\n    volume_venda INTEGER,\n    volume_carregado INTEGER,\n    volume_tanque INTEGER,\n    data TEXT,\n    estacao INTEGER,\n    remoto INTEGER,\n    evento INTEGER )`\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1543,
        "y": 1948.8,
        "wires": [
            [
                "a31dd2cacbae3bd7"
            ]
        ]
    },
    {
        "id": "2e6dbc43f7d5169a",
        "type": "inject",
        "z": "d85dd4e7.e244b",
        "g": "19b848e593effea4",
        "name": ">",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1367,
        "y": 1948.6,
        "wires": [
            [
                "c0a0ee030a1bdbab"
            ]
        ]
    },
    {
        "id": "418876fa5cd061c5",
        "type": "function",
        "z": "d85dd4e7.e244b",
        "g": "19b848e593effea4",
        "name": "q: select registros",
        "func": "msg.topic=\"SELECT * FROM registros\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1533,
        "y": 2021.6,
        "wires": [
            [
                "a31dd2cacbae3bd7"
            ]
        ]
    },
    {
        "id": "8b2c837b459f03fa",
        "type": "inject",
        "z": "d85dd4e7.e244b",
        "g": "19b848e593effea4",
        "name": ">",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1367,
        "y": 2022.1999999999998,
        "wires": [
            [
                "418876fa5cd061c5"
            ]
        ]
    },
    {
        "id": "8aabac94f9d1176c",
        "type": "function",
        "z": "d85dd4e7.e244b",
        "g": "19b848e593effea4",
        "name": "q: insert",
        "func": "  var cliente =  \"Cliente 1\"\n  var doc_carga =  \"99999999\"\n  var cnpj =  \"99999999999\"\n  var nome_transportador =  \"Transportador 1\"\n  var placa =  \"9999999\"\n  var volume =  100000\n  //var data = \"02/10/2024\"\n  var estacao =  \"vacaria\"\n  var volume_estacao =  200000\n\n  const data = new Date();\nconst dia = String(data.getDate()).padStart(2, '0');\nconst mes = String(data.getMonth() + 1).padStart(2, '0'); // Janeiro é 0!\nconst ano = data.getFullYear();\nconst horas = String(data.getHours()).padStart(2, '0');\nconst minutos = String(data.getMinutes()).padStart(2, '0');\nconst segundos = String(data.getSeconds()).padStart(2, '0');\n\nvar dataF = `${ano}-${mes}-${dia} ${horas}:${minutos}:${segundos}`;\n\nmsg.topic = `INSERT INTO registros ( cliente, doc_carga, cnpj,\n nome_transportador, placa, telefone, volume_recebido, volume_venda, volume_carregado, volume_tanque, data_hora, estacao ) VALUES ( 'MARCELO PEREIRA DIA', 'NFe2344445', '87678998765', 'TRANSPORTES NOVATTO', 'IRS1233', '54988789878', 0, 26012, 34567, 222000, '${dataF}', 14 ) `\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1503,
        "y": 2058,
        "wires": [
            [
                "a31dd2cacbae3bd7"
            ]
        ]
    },
    {
        "id": "291f961cd25a14b8",
        "type": "inject",
        "z": "d85dd4e7.e244b",
        "g": "19b848e593effea4",
        "name": ">",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1367,
        "y": 2057,
        "wires": [
            [
                "8aabac94f9d1176c"
            ]
        ]
    },
    {
        "id": "ac47afb3e6fd1dd3",
        "type": "function",
        "z": "d85dd4e7.e244b",
        "g": "19b848e593effea4",
        "name": "Cria tabela clientes",
        "func": "msg.topic =  `CREATE TABLE clientes (\n    id INTEGER PRIMARY KEY,\n    cliente TEXT,\n    cnpj TEXT UNIQUE,\n    telefone TEXT,\n    nome_transportador TEXT,\n    placa TEXT);`\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1533,
        "y": 1912.4,
        "wires": [
            [
                "a31dd2cacbae3bd7"
            ]
        ]
    },
    {
        "id": "9603658f17376f91",
        "type": "inject",
        "z": "d85dd4e7.e244b",
        "g": "19b848e593effea4",
        "name": ">",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1367,
        "y": 1911.8,
        "wires": [
            [
                "ac47afb3e6fd1dd3"
            ]
        ]
    },
    {
        "id": "b8bf3bb8e2c3b41b",
        "type": "function",
        "z": "d85dd4e7.e244b",
        "g": "19b848e593effea4",
        "name": "DELETAR tabela REGISTROS",
        "func": "msg.topic = \"DROP TABLE registros\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1573,
        "y": 1985.1999999999998,
        "wires": [
            [
                "a31dd2cacbae3bd7"
            ]
        ]
    },
    {
        "id": "d6068b3ab2657987",
        "type": "inject",
        "z": "d85dd4e7.e244b",
        "g": "19b848e593effea4",
        "name": ">",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1367,
        "y": 1985.3999999999999,
        "wires": [
            [
                "b8bf3bb8e2c3b41b"
            ]
        ]
    },
    {
        "id": "25d32e7738f36c7b",
        "type": "function",
        "z": "d85dd4e7.e244b",
        "g": "19b848e593effea4",
        "name": "q: select clientes",
        "func": "msg.topic=\"SELECT * FROM clientes\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1533,
        "y": 1876,
        "wires": [
            [
                "a31dd2cacbae3bd7"
            ]
        ]
    },
    {
        "id": "f75a447f47580e56",
        "type": "inject",
        "z": "d85dd4e7.e244b",
        "g": "19b848e593effea4",
        "name": ">",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1367,
        "y": 1875,
        "wires": [
            [
                "25d32e7738f36c7b"
            ]
        ]
    },
    {
        "id": "532b07560afa37f4",
        "type": "debug",
        "z": "d85dd4e7.e244b",
        "g": "19b848e593effea4",
        "name": "debug 33",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 2094,
        "y": 1953.0000122070312,
        "wires": []
    },
    {
        "id": "aab0a65801c2efdc",
        "type": "function",
        "z": "d85dd4e7.e244b",
        "g": "19b848e593effea4",
        "name": "DELETAR tabela CLIENTES",
        "func": "msg.topic = \"DROP TABLE clientes\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1547,
        "y": 2107.0000122070314,
        "wires": [
            [
                "a31dd2cacbae3bd7"
            ]
        ]
    },
    {
        "id": "354c01c745657a89",
        "type": "inject",
        "z": "d85dd4e7.e244b",
        "g": "19b848e593effea4",
        "name": ">",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1363,
        "y": 2103.2000244140627,
        "wires": [
            [
                "aab0a65801c2efdc"
            ]
        ]
    },
    {
        "id": "d7f829db76f2f3e8",
        "type": "inject",
        "z": "d85dd4e7.e244b",
        "g": "323074433091ba15",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "120",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 2636.5,
        "y": 874,
        "wires": [
            [
                "d7deeb43f47494d2"
            ]
        ]
    },
    {
        "id": "d7deeb43f47494d2",
        "type": "function",
        "z": "d85dd4e7.e244b",
        "g": "323074433091ba15",
        "name": "q: select registros",
        "func": "msg.topic=\"SELECT * FROM registros where remoto = 0\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2681,
        "y": 929,
        "wires": [
            [
                "6bd4ed5ba1e4b7f1"
            ]
        ]
    },
    {
        "id": "6bd4ed5ba1e4b7f1",
        "type": "sqlite",
        "z": "d85dd4e7.e244b",
        "g": "323074433091ba15",
        "mydb": "62dfa9632afbf5be",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "banco de dados",
        "x": 2714,
        "y": 982,
        "wires": [
            [
                "7aa4b3f9b43a0c75",
                "0841cde56a4e3e1b"
            ]
        ]
    },
    {
        "id": "ae86f087a919d941",
        "type": "http request",
        "z": "d85dd4e7.e244b",
        "g": "323074433091ba15",
        "name": "servidor remoto sync",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://127.0.0.1:3000/sync",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": true,
        "headers": [],
        "x": 2699,
        "y": 1049,
        "wires": [
            [
                "ef1999db3e655109"
            ]
        ]
    },
    {
        "id": "7aa4b3f9b43a0c75",
        "type": "function",
        "z": "d85dd4e7.e244b",
        "g": "323074433091ba15",
        "name": "function 18",
        "func": "msg.registros = msg.payload\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2908,
        "y": 970,
        "wires": [
            [
                "307ed9e047c844d6",
                "8970eee505ebec8c"
            ]
        ]
    },
    {
        "id": "ef1999db3e655109",
        "type": "switch",
        "z": "d85dd4e7.e244b",
        "g": "323074433091ba15",
        "name": "",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "200",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "200",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 2985,
        "y": 1032,
        "wires": [
            [
                "9a499d807d373d14"
            ],
            []
        ]
    },
    {
        "id": "9a499d807d373d14",
        "type": "function",
        "z": "d85dd4e7.e244b",
        "g": "323074433091ba15",
        "name": "function 19",
        "func": "var placeholders = []\nmsg.registros.forEach(function(element) {\n    placeholders.push(element.id)\n});\n\nmsg.topic = `UPDATE registros SET remoto = 1 WHERE id IN (${placeholders})`;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2944,
        "y": 1084,
        "wires": [
            [
                "99818915f01c2be2"
            ]
        ]
    },
    {
        "id": "99818915f01c2be2",
        "type": "sqlite",
        "z": "d85dd4e7.e244b",
        "g": "323074433091ba15",
        "mydb": "62dfa9632afbf5be",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "banco de dados",
        "x": 2987,
        "y": 1132,
        "wires": [
            [
                "568620a5150d0bdf"
            ]
        ]
    },
    {
        "id": "568620a5150d0bdf",
        "type": "debug",
        "z": "d85dd4e7.e244b",
        "g": "323074433091ba15",
        "name": "debug 36",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 2992,
        "y": 1196,
        "wires": []
    },
    {
        "id": "307ed9e047c844d6",
        "type": "switch",
        "z": "d85dd4e7.e244b",
        "g": "323074433091ba15",
        "name": "",
        "property": "payload.length",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 3091.5,
        "y": 972,
        "wires": [
            [
                "ae86f087a919d941"
            ],
            [
                "e5624a3a94b02c94"
            ]
        ]
    },
    {
        "id": "e5624a3a94b02c94",
        "type": "debug",
        "z": "d85dd4e7.e244b",
        "g": "323074433091ba15",
        "name": "debug 37",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 3298,
        "y": 978,
        "wires": []
    },
    {
        "id": "5dd0dab9997ddb8d",
        "type": "switch",
        "z": "d85dd4e7.e244b",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 575,
        "y": 869,
        "wires": [
            [
                "69910fba74e91e84"
            ],
            [
                "7c988174a271e06d"
            ],
            [
                "e18398e3151d38d2"
            ]
        ]
    },
    {
        "id": "7c988174a271e06d",
        "type": "function",
        "z": "d85dd4e7.e244b",
        "name": "reseta o gatilho",
        "func": "msg.reset = true;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 821.5,
        "y": 869,
        "wires": [
            [
                "69910fba74e91e84",
                "e18398e3151d38d2"
            ]
        ]
    },
    {
        "id": "69910fba74e91e84",
        "type": "trigger",
        "z": "d85dd4e7.e244b",
        "g": "7e98584c911b953a",
        "name": "Gatilho para Gravar Registros",
        "op1": "true",
        "op2": "0",
        "op1type": "bool",
        "op2type": "str",
        "duration": "0",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 846,
        "y": 713,
        "wires": [
            [
                "182896cc1d778e29"
            ]
        ]
    },
    {
        "id": "db4724b157bea71c",
        "type": "inject",
        "z": "d85dd4e7.e244b",
        "g": "7e98584c911b953a",
        "name": "reset manual",
        "props": [
            {
                "p": "reset",
                "v": "true",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 712,
        "y": 648,
        "wires": [
            [
                "69910fba74e91e84"
            ]
        ]
    },
    {
        "id": "1b721b55565ea572",
        "type": "inject",
        "z": "d85dd4e7.e244b",
        "name": "inject manual",
        "props": [
            {
                "p": "payload.data[0]",
                "v": "2",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 576.5,
        "y": 927,
        "wires": [
            [
                "5dd0dab9997ddb8d"
            ]
        ]
    },
    {
        "id": "182896cc1d778e29",
        "type": "function",
        "z": "d85dd4e7.e244b",
        "g": "7e98584c911b953a",
        "name": "function 20",
        "func": "msg.topic = \"readmultiple\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 835,
        "y": 558,
        "wires": [
            [
                "ed421a9.d6319e8"
            ]
        ]
    },
    {
        "id": "3e3a0d7e171c5d42",
        "type": "OpcUa-Client",
        "z": "d85dd4e7.e244b",
        "g": "da255acca8da66c9",
        "endpoint": "6a96b32a4059128b",
        "action": "read",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "useTransport": false,
        "maxChunkCount": 1,
        "maxMessageSize": 8192,
        "receiveBufferSize": 8192,
        "sendBufferSize": 8192,
        "name": "",
        "x": 357,
        "y": 938,
        "wires": [
            [
                "5dd0dab9997ddb8d"
            ],
            []
        ]
    },
    {
        "id": "7aa1a7e43631cb84",
        "type": "OpcUa-Item",
        "z": "d85dd4e7.e244b",
        "g": "da255acca8da66c9",
        "item": "ns=2;s=Application.GVL.wihmControleNodeRed",
        "datatype": "Int16",
        "value": "",
        "name": "wihmControleNodeRed",
        "x": 183.5,
        "y": 994,
        "wires": [
            [
                "3e3a0d7e171c5d42"
            ]
        ]
    },
    {
        "id": "74f9db548b4307e0",
        "type": "inject",
        "z": "d85dd4e7.e244b",
        "g": "da255acca8da66c9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 116.5,
        "y": 929,
        "wires": [
            [
                "7aa1a7e43631cb84"
            ]
        ]
    },
    {
        "id": "e18398e3151d38d2",
        "type": "trigger",
        "z": "d85dd4e7.e244b",
        "g": "e88776767a70730e",
        "name": "Gatilho para consultar Cliente",
        "op1": "true",
        "op2": "0",
        "op1type": "bool",
        "op2type": "str",
        "duration": "0",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 740,
        "y": 1066,
        "wires": [
            [
                "b8692d9a3360d4a7"
            ]
        ]
    },
    {
        "id": "b8692d9a3360d4a7",
        "type": "OpcUa-Item",
        "z": "d85dd4e7.e244b",
        "g": "e88776767a70730e",
        "item": "ns=2;s=Application.GVL.wihmCpfCnpj",
        "datatype": "String",
        "value": "",
        "name": "wihmCpfCnpj",
        "x": 977,
        "y": 1111,
        "wires": [
            [
                "ec6a2061500f1466"
            ]
        ]
    },
    {
        "id": "ec6a2061500f1466",
        "type": "OpcUa-Client",
        "z": "d85dd4e7.e244b",
        "g": "e88776767a70730e",
        "endpoint": "6a96b32a4059128b",
        "action": "read",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "useTransport": false,
        "maxChunkCount": 1,
        "maxMessageSize": 8192,
        "receiveBufferSize": 8192,
        "sendBufferSize": 8192,
        "name": "",
        "x": 974,
        "y": 1215,
        "wires": [
            [
                "d91db960ba652ce8",
                "29f7c56cd0dd5f3d"
            ],
            []
        ]
    },
    {
        "id": "d91db960ba652ce8",
        "type": "function",
        "z": "d85dd4e7.e244b",
        "g": "e88776767a70730e",
        "name": "function 21",
        "func": "msg.topic =  `SELECT * from clientes where cnpj = '${msg.payload}'`\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1148,
        "y": 1226,
        "wires": [
            [
                "da5360447c64f44e"
            ]
        ]
    },
    {
        "id": "29f7c56cd0dd5f3d",
        "type": "debug",
        "z": "d85dd4e7.e244b",
        "g": "e88776767a70730e",
        "name": "debug 41",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1103,
        "y": 1181,
        "wires": []
    },
    {
        "id": "dfb1b18ca78295c5",
        "type": "inject",
        "z": "d85dd4e7.e244b",
        "g": "e88776767a70730e",
        "name": "reset manual",
        "props": [
            {
                "p": "reset",
                "v": "true",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 682,
        "y": 1114,
        "wires": [
            [
                "e18398e3151d38d2"
            ]
        ]
    },
    {
        "id": "da5360447c64f44e",
        "type": "sqlite",
        "z": "d85dd4e7.e244b",
        "g": "e88776767a70730e",
        "mydb": "62dfa9632afbf5be",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "banco de dados",
        "x": 1102,
        "y": 1354,
        "wires": [
            [
                "951d52cbce086fce"
            ]
        ]
    },
    {
        "id": "d2f4d355955aa0d6",
        "type": "function",
        "z": "d85dd4e7.e244b",
        "g": "b7604063838adb27",
        "name": "cliente",
        "func": "msg.payload = msg.payload[0].cliente\n// var cliente = msg.payload[0].cliente\n// msg.payload ={\n//     messageType: 'Variable',\n//     variableName: 'Application.GVL.wihmNomeCliente',\n//     datatype: 'String',\n//     namespace: '2',\n//     variableValue: cliente\n// }\n//msg.payload.variableValue = cliente\n\n//msg.payload.messageType variableName datatype namespace variableValue\n\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1541.5,
        "y": 1292,
        "wires": [
            [
                "641ec885247f4c9b"
            ]
        ]
    },
    {
        "id": "641ec885247f4c9b",
        "type": "OpcUa-Item",
        "z": "d85dd4e7.e244b",
        "g": "b7604063838adb27",
        "item": "ns=2;s=Application.GVL.wihmNomeCliente",
        "datatype": "String",
        "value": "",
        "name": "wihmNomeCliente",
        "x": 1786,
        "y": 1267,
        "wires": [
            [
                "6f0f31383ec09529"
            ]
        ]
    },
    {
        "id": "0f267b9a370c5e9f",
        "type": "OpcUa-Item",
        "z": "d85dd4e7.e244b",
        "g": "b7604063838adb27",
        "item": "ns=2;s=Application.GVL.wihmNomeTransportador",
        "datatype": "String",
        "value": "",
        "name": "wihmNomeTransportador",
        "x": 1841,
        "y": 1321.375,
        "wires": [
            [
                "6f0f31383ec09529"
            ]
        ]
    },
    {
        "id": "d05c6665180bf273",
        "type": "OpcUa-Item",
        "z": "d85dd4e7.e244b",
        "g": "b7604063838adb27",
        "item": "ns=2;s=Application.GVL.wihmPlacaVeiculo",
        "datatype": "String",
        "value": "",
        "name": "wihmPlacaVeiculo",
        "x": 1819,
        "y": 1359.125,
        "wires": [
            [
                "6f0f31383ec09529"
            ]
        ]
    },
    {
        "id": "7a39bae567b3b76a",
        "type": "OpcUa-Item",
        "z": "d85dd4e7.e244b",
        "g": "b7604063838adb27",
        "item": "ns=2;s=Application.GVL.wihmFoneContato",
        "datatype": "String",
        "value": "",
        "name": "wihmFoneContato",
        "x": 1815,
        "y": 1410.5,
        "wires": [
            [
                "6f0f31383ec09529"
            ]
        ]
    },
    {
        "id": "6f0f31383ec09529",
        "type": "OpcUa-Client",
        "z": "d85dd4e7.e244b",
        "g": "b7604063838adb27",
        "endpoint": "6a96b32a4059128b",
        "action": "writemultiple",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "useTransport": false,
        "maxChunkCount": 1,
        "maxMessageSize": 8192,
        "receiveBufferSize": 8192,
        "sendBufferSize": 8192,
        "name": "",
        "x": 2125,
        "y": 1329,
        "wires": [
            [
                "151876fd420b801d"
            ],
            [
                "0b04f2098b9add05"
            ]
        ]
    },
    {
        "id": "71df24f50297440f",
        "type": "function",
        "z": "d85dd4e7.e244b",
        "g": "b7604063838adb27",
        "name": "nome_transportador",
        "func": "msg.payload = msg.payload[0].nome_transportador\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1588,
        "y": 1344,
        "wires": [
            [
                "0f267b9a370c5e9f"
            ]
        ]
    },
    {
        "id": "e50e4e3417ce833b",
        "type": "function",
        "z": "d85dd4e7.e244b",
        "g": "b7604063838adb27",
        "name": "placa",
        "func": "msg.payload = msg.payload[0].placa\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1544,
        "y": 1390,
        "wires": [
            [
                "d05c6665180bf273"
            ]
        ]
    },
    {
        "id": "95989496d058d755",
        "type": "function",
        "z": "d85dd4e7.e244b",
        "g": "b7604063838adb27",
        "name": "telefone",
        "func": "msg.payload = msg.payload[0].telefone\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1557,
        "y": 1429,
        "wires": [
            [
                "7a39bae567b3b76a"
            ]
        ]
    },
    {
        "id": "151876fd420b801d",
        "type": "debug",
        "z": "d85dd4e7.e244b",
        "g": "b7604063838adb27",
        "name": "debug 43",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 2362,
        "y": 1258,
        "wires": []
    },
    {
        "id": "0b04f2098b9add05",
        "type": "debug",
        "z": "d85dd4e7.e244b",
        "g": "b7604063838adb27",
        "name": "debug 44",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2366,
        "y": 1416,
        "wires": []
    },
    {
        "id": "dceebeb2114bdcf8",
        "type": "function",
        "z": "d85dd4e7.e244b",
        "g": "b7604063838adb27",
        "name": "function 22",
        "func": "msg = {}\nmsg.topic = \"writemultiple\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1742,
        "y": 1536,
        "wires": [
            [
                "6f0f31383ec09529",
                "989ef6a47497c19a"
            ]
        ]
    },
    {
        "id": "1f9bb12bbc3aba00",
        "type": "delay",
        "z": "d85dd4e7.e244b",
        "g": "b7604063838adb27",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1534.5,
        "y": 1541,
        "wires": [
            [
                "dceebeb2114bdcf8"
            ]
        ]
    },
    {
        "id": "951d52cbce086fce",
        "type": "switch",
        "z": "d85dd4e7.e244b",
        "name": "",
        "property": "payload.length",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1330.5,
        "y": 1363,
        "wires": [
            [
                "d2f4d355955aa0d6",
                "71df24f50297440f",
                "e50e4e3417ce833b",
                "95989496d058d755",
                "1f9bb12bbc3aba00"
            ],
            [
                "d321c7d0700f0958"
            ]
        ]
    },
    {
        "id": "c0c28cd8fa43c885",
        "type": "debug",
        "z": "d85dd4e7.e244b",
        "name": "debug 46",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1296,
        "y": 1609,
        "wires": []
    },
    {
        "id": "d321c7d0700f0958",
        "type": "function",
        "z": "d85dd4e7.e244b",
        "name": "function 23",
        "func": "msg.payload = \"cpf/cnpj não encontrado\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1235.5,
        "y": 1481,
        "wires": [
            [
                "c0c28cd8fa43c885"
            ]
        ]
    },
    {
        "id": "989ef6a47497c19a",
        "type": "debug",
        "z": "d85dd4e7.e244b",
        "g": "b7604063838adb27",
        "name": "debug 47",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1888,
        "y": 1571,
        "wires": []
    },
    {
        "id": "973a4b6cfc617227",
        "type": "debug",
        "z": "d85dd4e7.e244b",
        "g": "4bafa54e4fbe0782",
        "name": "debug 48",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 2774,
        "y": 690,
        "wires": []
    },
    {
        "id": "687e979ee8752b5e",
        "type": "function",
        "z": "d85dd4e7.e244b",
        "g": "4bafa54e4fbe0782",
        "name": "Impressão",
        "func": "const escpos = global.get('escpos');\nescpos.Network = global.get('escpos_network');\n\n// install escpos-usb adapter module manually\n// escpos.USB = require('escpos-usb');\n// console.log(escpos.USB.findPrinter())\n\n// Select the adapter based on your printer type\n// const device  = new escpos.USB('1FC9','2016');\n// const device  = new escpos.USB();\nconst device  = new escpos.Network('192.168.0.115','9100');\n// const device  = new escpos.Network('localhost');\n// const device  = new escpos.Serial('/dev/usb/lp0');\nconst options = { encoding: \"utf8\" /* default */ }\n// encoding is optional\n\n\n\n\nvar cliente = msg.registro.cliente || msg.registro.nome_transportador\nvar litros = msg.registro.volume_carregado\n\nconst printer = new escpos.Printer(device, options);\nlet data = msg.registro.dataF\n\n\ndevice.open(function(error){\n  if(error){\n\n    console.log(error)\n    return\n  }\n  printer\n .font('a')\n  .align('ct')\n  .style('bu')\n  .size(1, 1)\n  .text('OUROPRO')\n  .text(cliente)\n  .text('Litros: '+ litros)\n  .text(data)\n  .text(\"________________________\")\n  .text(\"Assinatura\")\n  .text(\"\")\n  .text(\"\")\n  .cut()\n  .close()\n});\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2620.5,
        "y": 685,
        "wires": [
            [
                "973a4b6cfc617227"
            ]
        ],
        "icon": "font-awesome/fa-print"
    },
    {
        "id": "75746a40030047cb",
        "type": "OpcUa-Item",
        "z": "d85dd4e7.e244b",
        "g": "7e98584c911b953a",
        "item": "ns=2;s=Application.GVL.wihmEvento",
        "datatype": "Int16",
        "value": "",
        "name": "wihmEvento",
        "x": 221,
        "y": 748,
        "wires": [
            [
                "edcc46c4d2774b9e"
            ]
        ]
    },
    {
        "id": "edcc46c4d2774b9e",
        "type": "function",
        "z": "d85dd4e7.e244b",
        "g": "7e98584c911b953a",
        "name": "key",
        "func": "msg.key = \"evento\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 391,
        "y": 757,
        "wires": [
            [
                "ed421a9.d6319e8"
            ]
        ]
    },
    {
        "id": "89cf293fdc67c11a",
        "type": "comment",
        "z": "d85dd4e7.e244b",
        "g": "323074433091ba15",
        "name": "Sincroniza registros com servidor remoto",
        "info": "",
        "x": 2708.5,
        "y": 806,
        "wires": []
    },
    {
        "id": "53fd5a692a58c1ed",
        "type": "comment",
        "z": "d85dd4e7.e244b",
        "g": "19b848e593effea4",
        "name": "Atalhos Banco de dados",
        "info": "",
        "x": 1405.5,
        "y": 1805,
        "wires": []
    },
    {
        "id": "18dfbaa3f566aeae",
        "type": "comment",
        "z": "d85dd4e7.e244b",
        "g": "7e98584c911b953a",
        "name": "Le as variaveis com opcua",
        "info": "",
        "x": 120.5,
        "y": 137,
        "wires": []
    },
    {
        "id": "83fcf88c9c1f0d6b",
        "type": "comment",
        "z": "d85dd4e7.e244b",
        "g": "0786b34d676452d7",
        "name": "Junta os valores das variaveis para salvar registros",
        "info": "",
        "x": 1234.5,
        "y": 83,
        "wires": []
    },
    {
        "id": "bed1f7f3eced5780",
        "type": "comment",
        "z": "d85dd4e7.e244b",
        "g": "e071b49ab8a47f09",
        "name": "Tenta salvar os registros no servidor remoto",
        "info": "",
        "x": 1305.5,
        "y": 304,
        "wires": []
    },
    {
        "id": "1f36e64443359e86",
        "type": "comment",
        "z": "d85dd4e7.e244b",
        "g": "eb64215b2e7f9a42",
        "name": "Caso não consiga salvar no servidor remoto -> remoto = 0",
        "info": "",
        "x": 1897.5,
        "y": 330,
        "wires": []
    },
    {
        "id": "8d4344a7ae3e38a2",
        "type": "comment",
        "z": "d85dd4e7.e244b",
        "g": "b8d1f723cd1c69e6",
        "name": "Caso consiga salvar no servidor remoto -> remoto = 1",
        "info": "",
        "x": 2120.5,
        "y": 175,
        "wires": []
    },
    {
        "id": "554057f0e6d93c25",
        "type": "comment",
        "z": "d85dd4e7.e244b",
        "g": "3d5c0c7018aafb7f",
        "name": "insere registro no banco de dados local",
        "info": "",
        "x": 2070.5,
        "y": 456,
        "wires": []
    },
    {
        "id": "ddbab29f4c5ad1be",
        "type": "comment",
        "z": "d85dd4e7.e244b",
        "g": "4bafa54e4fbe0782",
        "name": "Imprime etiqueta caso evento seja igual a 0 (saida)",
        "info": "",
        "x": 2534.5,
        "y": 623,
        "wires": []
    },
    {
        "id": "4f640c3e9103d750",
        "type": "comment",
        "z": "d85dd4e7.e244b",
        "g": "753d686206d4c231",
        "name": "Insere clientes no banco de dados local",
        "info": "",
        "x": 1848.5,
        "y": 682,
        "wires": []
    },
    {
        "id": "20aa2280dc2a7e83",
        "type": "comment",
        "z": "d85dd4e7.e244b",
        "g": "da255acca8da66c9",
        "name": "Le a variavel de controle e direciona o fluxo ",
        "info": "",
        "x": 191,
        "y": 882,
        "wires": []
    },
    {
        "id": "b4ab55e5c97f84b9",
        "type": "comment",
        "z": "d85dd4e7.e244b",
        "g": "e88776767a70730e",
        "name": "consulta o valor do cpf/cnpj no banco",
        "info": "",
        "x": 728.5,
        "y": 1018,
        "wires": []
    },
    {
        "id": "55c752792eba79d9",
        "type": "comment",
        "z": "d85dd4e7.e244b",
        "g": "b7604063838adb27",
        "name": "caso encontre cpf/cnpj no banco, escreve nas variaveis com os dados da consulta do banco local",
        "info": "",
        "x": 1797.5,
        "y": 1227,
        "wires": []
    },
    {
        "id": "86457098cd532698",
        "type": "http in",
        "z": "d85dd4e7.e244b",
        "name": "",
        "url": "/clientes",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 1869,
        "y": 926,
        "wires": [
            [
                "280ed71f255e7c63"
            ]
        ]
    },
    {
        "id": "280ed71f255e7c63",
        "type": "function",
        "z": "d85dd4e7.e244b",
        "name": "function 24",
        "func": "msg.topic=\"SELECT * FROM clientes\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2070.5,
        "y": 924,
        "wires": [
            [
                "91401c96ee5e4e5f"
            ]
        ]
    },
    {
        "id": "91401c96ee5e4e5f",
        "type": "sqlite",
        "z": "d85dd4e7.e244b",
        "mydb": "62dfa9632afbf5be",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "bd",
        "x": 2295.5,
        "y": 967,
        "wires": [
            [
                "727a60946afb4a3f"
            ]
        ]
    },
    {
        "id": "727a60946afb4a3f",
        "type": "http response",
        "z": "d85dd4e7.e244b",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 2423.5,
        "y": 979,
        "wires": []
    },
    {
        "id": "d57863e065567b7d",
        "type": "http in",
        "z": "d85dd4e7.e244b",
        "name": "",
        "url": "/registros",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 1872.5,
        "y": 1000,
        "wires": [
            [
                "7e5042e02d3076c9"
            ]
        ]
    },
    {
        "id": "7e5042e02d3076c9",
        "type": "function",
        "z": "d85dd4e7.e244b",
        "name": "function 25",
        "func": "msg.topic=\"SELECT * FROM registros\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2048.5,
        "y": 1003,
        "wires": [
            [
                "91401c96ee5e4e5f"
            ]
        ]
    },
    {
        "id": "6a635d26208c4a94",
        "type": "catch",
        "z": "d85dd4e7.e244b",
        "g": "323074433091ba15",
        "name": "",
        "scope": [
            "ae86f087a919d941"
        ],
        "uncaught": false,
        "x": 2612.5,
        "y": 1183,
        "wires": [
            [
                "a32638ddac4470ce"
            ]
        ]
    },
    {
        "id": "a32638ddac4470ce",
        "type": "debug",
        "z": "d85dd4e7.e244b",
        "g": "323074433091ba15",
        "name": "debug 49",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 2793,
        "y": 1197,
        "wires": []
    },
    {
        "id": "0841cde56a4e3e1b",
        "type": "debug",
        "z": "d85dd4e7.e244b",
        "g": "323074433091ba15",
        "name": "debug 50",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 2888,
        "y": 914,
        "wires": []
    },
    {
        "id": "8970eee505ebec8c",
        "type": "debug",
        "z": "d85dd4e7.e244b",
        "g": "323074433091ba15",
        "name": "debug 51",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 3085,
        "y": 901,
        "wires": []
    },
    {
        "id": "b21f90b1994e38ec",
        "type": "function",
        "z": "d85dd4e7.e244b",
        "g": "19b848e593effea4",
        "name": "UPDATE remoto = 0",
        "func": "msg.topic = \"UPDATE registros SET remoto = 0 where id IN (1,2,3)\"\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1526.5,
        "y": 2153,
        "wires": [
            [
                "a31dd2cacbae3bd7"
            ]
        ]
    },
    {
        "id": "4a93a45dd8328139",
        "type": "inject",
        "z": "d85dd4e7.e244b",
        "g": "19b848e593effea4",
        "name": ">",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 1358,
        "y": 2153,
        "wires": [
            [
                "b21f90b1994e38ec"
            ]
        ]
    },
    {
        "id": "91fe6659569d185a",
        "type": "switch",
        "z": "d85dd4e7.e244b",
        "g": "4bafa54e4fbe0782",
        "name": "",
        "property": "registro.evento",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2370,
        "y": 705,
        "wires": [
            [
                "687e979ee8752b5e"
            ]
        ]
    },
    {
        "id": "3ad2794222169f32",
        "type": "http request",
        "z": "423df26a24319b49",
        "name": "servidor remoto",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://server.ouropro.com.br/api/registros",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": true,
        "headers": [],
        "x": 740,
        "y": 380,
        "wires": [
            [
                "47b352d4c59f5117"
            ]
        ]
    },
    {
        "id": "872c9557a50a0b52",
        "type": "function",
        "z": "423df26a24319b49",
        "name": "function 26",
        "func": "var cliente = \"teste server.ouropro\"\nvar nome_transportador = \"nome_transportador\"\nvar cnpj = \"cnpj\"\nvar placa = \"placa\"\nvar telefone = \"telefone\"\nvar doc_carga = \"doc_carga\"\nvar volume_recebido = 10000\nvar volume_venda = 22222\nvar volume_carregado = 33333\nvar volume_tanque = 44444\nvar estacao = 10\nvar controle_node_red = 1\nvar evento = 0\n\nconst data = new Date();\nconst dia = String(data.getDate()).padStart(2, '0');\nconst mes = String(data.getMonth() + 1).padStart(2, '0'); // Janeiro é 0!\nconst ano = data.getFullYear();\nconst horas = String(data.getHours()).padStart(2, '0');\nconst minutos = String(data.getMinutes()).padStart(2, '0');\nconst segundos = String(data.getSeconds()).padStart(2, '0');\n\nvar dataF = `${ano}-${mes}-${dia} ${horas}:${minutos}:${segundos}`;\n\nmsg.payload = {\ncliente,\nnome_transportador,\ncnpj,\nplaca,\ntelefone,\ndoc_carga,\nvolume_recebido,\nvolume_venda,\nvolume_carregado,\nvolume_tanque,\nestacao,\ndata,\nevento\n}\n\n\n\n\nreturn msg;\n\n\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 380,
        "wires": [
            [
                "3ad2794222169f32"
            ]
        ]
    },
    {
        "id": "47b352d4c59f5117",
        "type": "debug",
        "z": "423df26a24319b49",
        "name": "debug 52",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 280,
        "wires": []
    },
    {
        "id": "a1d88e0442b21317",
        "type": "inject",
        "z": "423df26a24319b49",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 250,
        "y": 300,
        "wires": [
            [
                "872c9557a50a0b52"
            ]
        ]
    },
    {
        "id": "d0fc08a45a2898c4",
        "type": "http request",
        "z": "423df26a24319b49",
        "name": "servidor remoto",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://18.189.192.194:3000/registros",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": true,
        "headers": [],
        "x": 680,
        "y": 560,
        "wires": [
            [
                "8de833d3f61d91c7"
            ]
        ]
    },
    {
        "id": "e5b9d19c7ed3ba6b",
        "type": "function",
        "z": "423df26a24319b49",
        "name": "function 27",
        "func": "var cliente = \"Fazenda Feliz\"\nvar nome_transportador = \"Transportador Feliz\"\nvar cnpj = \"9999999999\"\nvar placa = \"abc-9999\"\nvar telefone = \"99 99999999\"\nvar doc_carga = \"doc02154545\"\nvar volume_recebido = 10000\nvar volume_venda = 22222\nvar volume_carregado = 33333\nvar volume_tanque = 44444\nvar estacao = 10\nvar controle_node_red = 1\nvar evento = 0\n\nconst data = new Date();\nconst dia = String(data.getDate()).padStart(2, '0');\nconst mes = String(data.getMonth() + 1).padStart(2, '0'); // Janeiro é 0!\nconst ano = data.getFullYear();\nconst horas = String(data.getHours()).padStart(2, '0');\nconst minutos = String(data.getMinutes()).padStart(2, '0');\nconst segundos = String(data.getSeconds()).padStart(2, '0');\n\nvar dataF = `${ano}-${mes}-${dia} ${horas}:${minutos}:${segundos}`;\n\nmsg.payload = {\ncliente,\nnome_transportador,\ncnpj,\nplaca,\ntelefone,\ndoc_carga,\nvolume_recebido,\nvolume_venda,\nvolume_carregado,\nvolume_tanque,\nestacao,\ndata,\nevento\n}\n\n\n\n\nreturn msg;\n\n\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 560,
        "wires": [
            [
                "d0fc08a45a2898c4"
            ]
        ]
    },
    {
        "id": "8de833d3f61d91c7",
        "type": "debug",
        "z": "423df26a24319b49",
        "name": "debug 53",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 560,
        "wires": []
    },
    {
        "id": "e999f1f0429bacb2",
        "type": "inject",
        "z": "423df26a24319b49",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 190,
        "y": 480,
        "wires": [
            [
                "e5b9d19c7ed3ba6b"
            ]
        ]
    }
]